<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings">
      <input name="title" placeholder="Enter title" type="text" />
      <br /><br />
      <textarea name="description" placeholder="Enter description"> </textarea>
      <br /><br />
      <input name="image" placeholder="Enter image URL/link" type="text" />
      <br /><br />
      <input name="price" placeholder="Enter price" type="number" />
      <br /><br />
      <input name="country" placeholder="Enter country" type="text" />
      <br /><br />

      <input name="location" placeholder="Enter location" type="text" />

      <br />
    </form>
  </body>
</html>
