/* body {
  background-color: #f8f9fa;
} */

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.navbar{
    height:4rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    size: 2rem;
}
.nav-link{
    /* this important is to ensure that property by boilerplate/bootstrap overriden */
    color: #222222 !important;
}